.DS_Store
node_modules
.pnpm-store/
build
.svelte-kit
package
.env
.env.*
!.env.example
!.env.staging
!.env.production
.dev.vars
.dev.vars.*
!.dev.vars.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
dist
.wrangler
.turbo
